.game-background {
	background: #000000;
	text-align: center;
}

.table-container {
	text-align: center;
	width: 50%;
	padding: 0 22%;
}

.word-table {
	width: 700px;
	border: none;
}

.word-cell {
	display: inline-block;
	height: 60px;
	width: 10%;
	border: 1px solid #ffffff;
	margin: 10px;
	color: #ffffff;
	font-size: 40px;
}

tr.active td {
	border: 2px solid #ffffff;
}

td.red {
	background-color: red;
}

td.yellow {
	background-color: yellow;
}

td.green {
	background-color: green;
}

.form-field {
	border: 1px solid #ffffff;
	margin: 15px;
	background-color: #000000;
	color: #ffffff;
}